@import "./mixins";

* {
    font-family: "Oswald", sans-serif;
}



body {
    background-color: black;
    color: white;
    
    h1{
        margin-left: 40px;
    }

    .empty-list {
        margin-top: 150px;
        margin-left: 50px;
    }
}


.navbar {
    position: fixed;
    top: 0;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    background-color: black;
    color: white;
    width: 100vw;
    border-bottom: 1px solid gold;



    a {
        text-decoration: none;
    }

    h1{
        font-family: 'Bebas Neue', sans-serif;
        color: gold;
        letter-spacing: 1.5px;
        font-size: 36px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        }
        span{
            font-family: 'Bebas Neue', sans-serif;
            color: #daa520;
        }

    h3 {
        margin-top: 30px;
    }
    

    .left-nav {
        @include flex-nav
    }

    .right-nav {
        @include flex-nav
    }
}

.row-title{
    
    padding-top: 60px;
    
    h1{
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .row {
            display: flex;
            flex-direction: row;
            gap:1px;
    }
    .card{
        width: 360px;
        height: 480px;
        
        .image {
                width: 360px;
                height: 480px;
            img{
                width: 360px;
                height: 480px;
                border-radius: 15px;
            }
        }
    }
}


.individual{
    display: flex;
    gap: 40px;
    padding-top: 90px;
    margin-left: 40px;
    margin-right: 40px;

    h3{
        font-size: 36px;
        color: goldenrod;
    }

    p{
        font-size: 24px;
    }

    button {
        @include button1
    }

        .add-favorites{
            margin-left: 40px;
        }

    .image {
            width: 420px;
            height: 580px;
    
            img {
                width: 420px;
                height: 580px;
                border-radius: 15px;
            }
        }  
}

.favorites{
    padding-top: 60px;

    h1{
        margin-top: 30px;
    }

    .image {
            width: 360px;
            height: 480px;
            margin-top: 20px;
    
            img {
                width: 360px;
                height: 480px;
                border-radius: 15px;
            }
    }

    #favs {
        padding-top: 0;
    }

}

.search{
    padding-top: 110px;
    padding-left: 100px;

    label{
        font-size: 24px;
        margin-left: 40px;
    }

    input{
        margin-left: 20px;
        width: 250px;
        height: 30px;
        font-size: 24px;
    }
} 

.login{
    @include formPage;
}

.register{
    @include formPage;
    form{
        margin-top: 60px;
        height: 80%;
    }

    .terms{
        margin-left: 30px;
    }
}



